$gap: 24px;
$sm: 480px;
$md: 736px;
$lg: 980px;
$xl: 1200px;

.grid {
  display: grid;
}

.column-gap,
.grid-gap {
  grid-column-gap: $gap;
}

.row-gap,
.grid-gap {
  grid-row-gap: $gap;
}

.align-center {
  align-items: center;
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-columns {
  grid-template-columns: repeat(4, 1fr);
}

.column-span-2 {
  grid-column: span 2;
}

.column-span-3 {
  grid-column: span 3;
}

.column-span-4 {
  grid-column: span 4;
}

@media (min-width: $sm) {
  .grid-2-columns\@sm {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3-columns\@sm {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4-columns\@sm {
    grid-template-columns: repeat(4, 1fr);
  }

  .column-span-2\@sm {
    grid-column: span 2;
  }

  .column-span-3\@sm {
    grid-column: span 3;
  }

  .column-span-4\@sm {
    grid-column: span 4;
  }
}

@media (min-width: $md) {
  .grid-2-columns\@md {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3-columns\@md {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4-columns\@md {
    grid-template-columns: repeat(4, 1fr);
  }

  .column-span-2\@md {
    grid-column: span 2;
  }

  .column-span-3\@md {
    grid-column: span 3;
  }

  .column-span-4\@md {
    grid-column: span 4;
  }
}

@media (min-width: $lg) {
  .grid-2-columns\@lg {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3-columns\@lg {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4-columns\@lg {
    grid-template-columns: repeat(4, 1fr);
  }

  .column-span-2\@lg {
    grid-column: span 2;
  }

  .column-span-3\@lg {
    grid-column: span 3;
  }

  .column-span-4\@lg {
    grid-column: span 4;
  }
}

@media (min-width: $xl) {
  .grid-2-columns\@xl {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3-columns\@xl {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4-columns\@xl {
    grid-template-columns: repeat(4, 1fr);
  }

  .column-span-2\@xl {
    grid-column: span 2;
  }

  .column-span-3\@xl {
    grid-column: span 3;
  }

  .column-span-4\@xl {
    grid-column: span 4;
  }
}
